[submodule "_vim/bundle/jedi-vim"]
	path = _vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "_vim/bundle/supertab"]
	path = _vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "_vim/bundle/ctrp.vim"]
	path = _vim/bundle/ctrp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "_vim/bundle/python-indent.vim"]
	path = _vim/bundle/python-indent.vim
	url = https://github.com/hattya/python-indent.vim.git
[submodule "_vim/bundle/jinja2-syntax"]
	path = _vim/bundle/jinja2-syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "_vim/bundle/vim-indent-guides"]
	path = _vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "_vim/bundle/vim-flake8"]
	path = _vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
